/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* START OF CUSTOM CSS */

body {
	width: 900px;
	margin: auto;
	text-align: center;
	background-color: rgb(14, 14, 20);
	color: rgb(201, 200, 200);
}

p {
	margin: 20px 20px 0 0;
}

hr {
	border: 1px solid white;
}

h3 {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 600;
	color: white;
}

h1 {
	color: white;
}

/* Nav Section */

nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
	top: 0;
	padding: 10px 0;
	text-align: left;
	background-image: linear-gradient(to right, rgb(38, 38, 68) , rgb(90, 90, 161));
	z-index: 1;
	width: 900px;
}

nav a.nav-link {
	text-decoration: none;
	color: white;
	transition: 1s;
}

nav a:hover {
	font-size: 120%;
}

nav img {
	margin-left: 54px;
}


/* Header Section */

	/* home page header css */
.home-header {
	background: url("/img/header-img.png") no-repeat center center;
	margin-top: 30px;
	background-size: 55%;
	z-index: -1;
	padding: 150px;
}

.main-header {
	display: flex;
	flex-direction: column;
	width: 70%;
	justify-content: center;
	margin: auto;
}

.main-header h1 {
	font-size: 60px;
	text-align: center;
	color: rgb(2, 30, 56);
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 20px;
}

.main-header button {
	margin: auto;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(97, 97, 97);
	color: rgb(27, 27, 27);
	padding: 2% 3%;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	width: 50%;
	transition: 2s;
	cursor: pointer;
}

.main-header button:hover {
	width: 80%;
}

	/* services page header css */
.services-header {
	width: 100%;
	margin-top: 60px;
}

.services-header img {
	width: 100%;
	margin-bottom: 30px;
}

.services-header h1 {
	font-size: 26px;
	text-align: left;
}

.services-header p {
	margin-bottom: 50px;
}

	/* contact page header css */
.contact-page-header img {
	width: 900px;
	height: 300px;
	object-fit: cover;
}

/* Upper Content and Lower Content Sections */

	/* home page content section */
.content-section {
	padding: 20px 0;
	text-align: left;
	margin: 0 0;
	display: flex;
	justify-content: space-evenly;
}

.upper-content {
	width: 50%;
	padding: 10px 0;
}

.upper-content p {
	width: 100%;
}


.middle-img {
	width: 100%;
}

.lower-content {
	width: 35%;
	padding: 10px 0;
}

	/* service page content section */
.services-main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: rgb(201, 200, 200);
}

.services-main-content div {
	width: 48%;
	border: 1px solid black;
	text-align: left;
	padding: 20px;
	margin: 20px 0;
	background-color: rgba(231, 226, 221, 0.151);
}

.services-main-content div button {
	background-color: white;
	border: 1px solid black;
	color: black;
	padding: 7px 35px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	margin-top: 17px;
	border-radius: 5px;
	width: 144px;
	transition: 1s;
}

.services-main-content div button:hover {
	border-radius: 0%;
	width: 50%;
}



/* Home Page Address Section */
address {
	margin: 30px 0;
	text-align: left;
}

/* Contact Page Content Section */
.contact-page-content {
	margin: 50px;
}
.contact-page-content h1 {
	font-size: 30px;
	margin-bottom: 40px;
}

.contact-page-address {
	text-align: center;
	background-color: #3b3b3b;
	color: white;
	border-radius: 10px;
	padding: 30px;
	width: 70%;
	margin: auto;
}

.contact-page-address h3 {
	color: white;
}

.contact-page-address p {
	margin-right: 0;
}

/* Service Page Facts Section */
.facts-section {
	display: flex;
	margin: 50px 0;
	text-align: left;
}

.content-left p {
	margin-bottom: 20px;
}

.facts-section-list ul {
	list-style-type: square;
	list-style-position: inside;
}

.facts-section-list ul li {
	margin: 10px;
}

/* About Page Content Section */
.about-us {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-us h1 {
	width: 100%;
    margin-top: 100px;
    font-size: 170%;
}

.section {
    border: 1px solid black;
	line-height: 2;
	margin-bottom: 20px;
	padding: 20px;
    width: 45%;
}

.accent-img {
    width: 100%;
}


/* Footer Section */
footer {
	padding-bottom: 100px;
}




/* MEDIA QUERIES */

/* Media Query Ipad */
@media(max-width: 800px) {
	body {
		width: 100%;
    }

    nav {
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
    }

    .home-link {
        order: -1;
        display: block;
        width: 100%;
       text-align: center;
       margin: 20px 0 35px;
    }

    .home-link img {
        margin: 0;
    }

    .nav-link {
        margin: 0 11% 0 0;
    }

    .nav-link:first-child {
        margin-left: 1%;
    }

    .nav-link:nth-child(6) {
       margin-right: 0;
    }

    .home-header {
        background: none;
        padding-bottom: 70px
    }

    .main-header {
        width: 100%;
    }

    .main-header h1 {
        font-size: 70px;
        padding: 20px 20px 0;
        background: none;
        color: white;
    }
    
    /* main header button */
    .main-header button {
        width: 40%;
        transition: 2s;
    }

	/* service page header section */
	.services-header h1, .services-header p {
		text-align: center;
		margin: 20px auto;
	}


	/* service page content section */
	.services-main-content {
		flex-direction: column;
		align-items: center;
	}

	.services-main-content div {
		text-align: center;
		width: 70%;
	}

	/* service page facts section */
	.facts-section {
		flex-direction: column;
		align-items: center;
	}

	.facts-section h3, .facts-section p {
		text-align: center;
	}

	.content-left {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}


/* Media Query Iphone */
@media(max-width: 500px) {

}